<nav class='navbar navbar-expand-lg pt-2 navbar-dark bg-dark'>
  <div class='container-fluid'>
    <a class='navbar-brand' href='/'>JOB BOARD</a>
    <button
      class='navbar-toggler'
      type='button'
      data-bs-toggle='collapse'
      data-bs-target='#navbarSupportedContent'
      aria-controls='navbarSupportedContent'
      aria-expanded='false'
      aria-label='Toggle navigation'
    >
      <span class='navbar-toggler-icon'></span>
    </button>
    <div class='collapse navbar-collapse' id='navbarSupportedContent'>
      <ul class='navbar-nav me-auto mb-2 mb-lg-0'>
        <li class='nav-item'>
          <a class='nav-link' href='/explore'>Khám phá</a>
        </li>
        <li class='nav-item'>
          <a id='post-a-job' href='/explore/new-job' class='nav-link {{#unless session.User}} disabled {{/unless}}'>ĐĂNG VIỆC</a>
        </li>
        <li class='nav-item'>
          <a id='my-jobs' href='/explore/my-jobs' class='nav-link {{#unless session.User}} disabled {{/unless}}'>Công việc của tôi</a>
        </li>
        <li class='nav-item'>
          <a id='my-jobs' href='/apply/my-applies' class='nav-link {{#unless session.User}} disabled {{/unless}}'>Ứng tuyển của tôi</a>
        </li>
      </ul>
      {{#if session.User}}
        <div class='dropdown'>
          <button
            class='btn btn-light dropdown-toggle'
            type='button'
            id='dropdownMenuButton1'
            data-bs-toggle='dropdown'
            aria-expanded='false'
          >
            Xin chào,
            {{session.User.username}}
          </button>
          <ul class='dropdown-menu' aria-labelledby='dropdownMenuButton1'>
            <li><a class='dropdown-item' href='/profile?q={{session.User.username}}'>Hồ sơ của tôi</a></li>
            <li><a class='dropdown-item' href='/settings'>Cài đặt</a></li>
            <li><a class='dropdown-item' href='/logout'>Đăng xuất</a></li>
          </ul>
        </div>
      {{else}}
        <a
          class='btn btn-outline-light me-3'
          style='width: 120px;'
          href='/login'
        >Đăng nhập</a>
        <a
          class='btn btn-outline-light me-3'
          style='width: 120px;'
          href='/register'
        >Đăng ký</a>
      {{/if}}
    </div>
  </div>
</nav>