<div class='row bg-dark mx-auto'>
  <div class='col-xl-2 col-sm-6 text-variant text-left mb-4 mt-4 ml-3'>
    <h5>Về chúng tôi</h5>
    <p style='text-align: justify;'>Nhằm giải quyết nhu cầu việc làm của các bạn
      sinh viên cũng như đáp ứng các như cầu về mặt kinh tế, chúng tôi xây dựng
      dự án này để giúp cho việc kết nối giữa người sử dụng lao động và người
      lao động (chủ yếu là sinh viên) một cách dễ dàng hơn.
    </p>
  </div>
  <div class='col-xl-2 col-sm-6 text-variant text-left mb-4 mt-4 ml-3'>
    <h5>Chính sách</h5>
    <p style='text-align: justify;'>Chúng tôi hoạt động dựa trên trách nhiệm
      cũng như lòng tin của người dùng trên trang web này. Mọi hoạt động liên
      quan đến sử dụng lao động của dự án đề hợp pháp và được sử chấp thuận của
      các cơ quan liên quan.</p>
  </div>
  <div class='col-xl-2 col-sm-6 text-variant text-left mb-4 mt-4 ml-3'>
    <h5>Liên lạc</h5>
    <p>HCMUS Newbies</p>
    <a href='https://github.com/ngslim/Job-Board'>
      <h1 style='color: white;'>
        <i class='bi bi-github'></i>
      </h1>
    </a>

  </div>
</div>