<div class='row bg-variant justify-content-center'>
  <div
    class='col-xl-5 col-sm-12 text-light text-xl-start text-center justify-content-center mb-5 mt-5'
    style='font-size: 48px; font-weight:500;'
  >
    Tìm công việc ngay khi học tại trường dành cho học sinh, sinh viên.
  </div>
  <div class='col-xl-5 col-sm-12 align-self-center'>
    <div class='align-middle'>
      <form class='d-flex' method='GET' action='/explore/search'>
        <div class='input-group input-group-lg'>
          <input
            class='form-control me-2'
            type='search'
            placeholder='Tìm kiếm'
            aria-label='Search'
            name='name'
          />
        </div>
      </form>
    </div>
  </div>
</div>
<div class='container-fluid mb-5'>
  <div class='row mt-5 mb-5'>
    <div
      class='col text-main text-center'
      style='font-size: 40px; font-weight: 400;'
    >Danh mục được tìm kiếm nhiều nhất</div></div>
  <div class='row'>
    <div class='col-lg-3 col-sm text-center d-flex justify-content-center mb-3'>
      <div class='card card-category border-4 mb-3'>
        <div class='card-body text-main align-self-center'>
          <p class='card-title mt-5' style='font-size: 64px;'><i
              class='bi bi-cup-straw'
            ></i></p>
          <h3 class='card-title'>Phục vụ</h3>
        </div>
      </div>
    </div>
    <div class='col-lg-3 col-sm text-center d-flex justify-content-center mb-3'>
      <div class='card card-category border-4 mb-3'>
        <div class='card-body text-main align-self-center'>
          <p class='card-title mt-5' style='font-size: 64px;'><i
              class='bi bi-pen'
            ></i></p>
          <h3 class='card-title'>Viết lách</h3>
        </div>
      </div>
    </div>
    <div class='col-lg-3 col-sm text-center d-flex justify-content-center mb-3'>
      <div class='card card-category border-4 mb-3'>
        <div class='card-body text-main align-self-center'>
          <p class='card-title mt-5' style='font-size: 64px;'><i
              class='bi bi-book'
            ></i></p>
          <h3 class='card-title'>Gia sư</h3>
        </div>
      </div>
    </div>
    <div class='col-lg-3 col-sm text-center d-flex justify-content-center mb-3'>
      <div class='card card-category border-4 mb-3'>
        <div class='card-body text-main align-self-center'>
          <p class='card-title mt-5' style='font-size: 64px;'><i
              class='bi bi-shop-window'
            ></i></p>
          <h3 class='card-title'>Trợ lý cửa hàng</h3>
        </div>
      </div>
    </div>
  </div>
</div>
<div class='row bg-variant justify-content-center'>
  <div
    class='col-12 text-light text-center justify-content-center mb-5 mt-5'
    style='font-size: 48px; font-weight: 500;'
  >
    Bạn có công việc?
  </div>
  <div class='col-12 d-flex justify-content-center mb-5'>
    <a href='/register' class='card-join'>Tham gia ngay</a></div>
  </div>
</div>

<div class='container-fluid mb-5'>
  <div class='row mt-5 mb-5'>
    <div class='col text-dark text-center' style='font-size: 40px;'>Cách thức
      hoạt động</div></div>
  <div class='row'>
    <div class='col-lg-4 col-sm text-center d-flex justify-content-center mb-3'>
      <div class='card-step border-success mb-3'>
        <p class='card-title mt-5' style='font-size: 64px;'>1.</p>
        <h1 class='card-title mt-5'>Tìm công việc</h1>
      </div>
    </div>
    <div class='col-lg-4 col-sm text-center d-flex justify-content-center mb-3'>
      <div class='card-step border-success mb-3'>
        <p class='card-title mt-5' style='font-size: 64px;'>2.</p>
        <h1 class='card-title mt-5'>Ứng tuyển cho công việc</h1>
      </div>
    </div>
    <div class='col-lg-4 col-sm text-center d-flex justify-content-center mb-3'>
      <div class='card-step border-success mb-3'>
        <p class='card-title mt-5' style='font-size: 64px;'>3.</p>
        <h1 class='card-title mt-5'>Nhận công việc</h1>
      </div>
    </div>
  </div>
</div>