<div class='login-container'>
  <div style='font-size: 84px; text-align:center'>Bạn chưa
    <a
      class='btn gradient-text'
      style='font-size: 84px; margin-bottom:30px'
      href='/explore/new-job'
    >đăng việc</a></div>
</div>